log4js.configure({
    appenders: {
        LoggerConsole: {type: 'console'},
        LoggerFile: {type: 'file', filename: './log/info.log'},
        LoggerFile2: {type: 'file', filename: './log/info2.log'}
    },
    categories:{
        default: {appenders: ["LoggerConsole"], level: "trace"},
        consola: {appenders: ["LoggerConsole"], level: "debug"},
        archivo: {appenders: ["LoggerFile"], level: "warn"},
        archivo2: {appenders: ["LoggerFile2"], level: "info"},
        todos: {appenders: ["LoggerConsole", "LoggerFile", "LoggerFile2"], level: "error"}
    }
})