.formulario{
    display: flex;
    justify-content: center;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

.chat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2.5em;    
}

.productos{
    display: flex;
    flex-direction: row;
}

.producto{
    padding: 1em;
    margin: 0.2em;
}

.mensajeriadiv{
    display: flex;
    flex-direction: row;
}

.email{
    font-weight: 1em;
    color: blue;
}

.message{
    color: green;
}

.timestamp{
    color: red;
}