<ul class="list-group">
    <li class="list-group-item"><%= id%></li>
    <li class="list-group-item"><%= title%></li>
    <li class="list-group-item"><%= price%></li>
    <li class="list-group-item"><img src="<%= thumbnail%>"></li>
  </ul>